.detail-header {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px var(--padding-x);
    position: fixed;
    top: 25px;
    background-color: white;
}
detail-header i {
    transition: color 0.3s ease-in-out;
}
.detail-header i:hover {
    color: var(--dkgray);
}

.detail-header__left-btn,
.detail-header__title,
.detail-header__right-btn {
    width: 33%;
}
.detail-header__title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
}
.detail-header__right-btn {
    display: flex;
    justify-content: flex-end;
}
.detail-header__right-btn__search {
    margin-right: 30px;
}