.nav {
    width: 100vw;
    padding: 30px 0px;
    position: fixed;
    bottom: 0px;
    border-top: 0.1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--ltgray);
    z-index: 2;
}
.nav-list {
    display: flex;
    justify-content: space-around;
}
.nav-list li {
    position: relative;
    transition: color 0.3s ease-in-out;
}
.nav-list li:hover {
    color: var(--dkgray);
}
.mav-list__chat-badge {
    position: absolute;
    right: -10px;
    top:-15px;
}
